body {
  margin: 0;
}

.auth_block {
  display: flex;
  flex-direction: row;
}

.login_left {
  width: 50vw;
  height: 100vh;
  background: linear-gradient(
    21.36deg,
    rgba(255, 255, 255, 0.54) 17.62%,
    rgba(93, 154, 173, 0.54) 100%
  );
}

.login_right {
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 100vh;
}
.login_right_block {
  margin: 25% auto;
  width: 400px;
}
.login_right_block h2 {
  font-weight: 600;
  font-size: 60px;

  color: #244a56;
}
